@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

$col: rgb(90, 215, 247);
$anim1 : moveclouds 15s linear infinite;
$anim2 : moveclouds 25s linear infinite;
$anim3 : moveclouds 20s linear infinite;
$anim4 : moveclouds 18s linear infinite;

body {
    background: $col;
    overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}
.cloud_img_1,  .cloud_img_2, .cloud_img_3, .cloud_img_4 {
    position: relative;
}
.cloud_img_1 {
    width: 30%;
}
.cloud_img_2 {
    width: 20%;
}
.cloud_img_3 {
    width: 30%;
}
.cloud_img_4 {
    width: 10%;
}

/*Time to animate*/
.x1 {
    animation: $anim1;
	-webkit-animation: $anim1;
	-moz-animation: $anim1;
	-o-animation: $anim1;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; 
    animation: $anim2;
	-webkit-animation: $anim2;
	-moz-animation: $anim2;
	-o-animation: $anim2;
}

.x3 {
	left: -250px; top: -100px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	animation: $anim3;
	-webkit-animation: $anim3;
	-moz-animation: $anim3;
	-o-animation: $anim3;
}
.x4 {
	left: 470px; top: -150px;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	animation: $anim4;
	-webkit-animation: $anim4;
	-moz-animation: $anim4;
	-o-animation: $anim4;
}

@keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
.temp{
	position: absolute;
    width: 450px;
    border: 1px solid #ccc;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translatey(-50%);
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .4);
    text-align: center;
}
.temp input {
	border-radius: 10px;
    width: 80%;
    padding: 10px;
    height: 30px;
    border: 2px solid #5ad7f7;
	font-size: 20px;
    outline: 0;
	text-transform: capitalize;
}
.temp h3{
	font-size: 24px;
    color: #14768f;
	margin-bottom: 0;
	text-transform: capitalize;
}
.show_temp span{
	background: #5ad7f7;
    color: #fff;
    padding: 6px 15px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #45c0df;
    border: 1px solid #54c7e5;
}
.show_temp p{
	margin: 0;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 600;
    color: #d92424;
}